<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Productos</title>
    <script type="module" src="/static/js/main.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <h1>Gestión de Productos</h1>

    <form id="form-product" enctype="multipart/form-data">
        <input type="text" id="nombre-producto" placeholder="Nombre del producto" required />
        <input type="number" id="precio-producto" placeholder="Precio del producto" required />
        <input type="file" id="imagen-producto" accept="image/*" required />
        <button type="submit">Agregar Producto</button>
    </form>

    <div id="loader" style="display: none; margin:20px 0;">
        <img src="https://i.gifer.com/ZZ5H.gif" alt="Cargando..." width="50" />
    </div>
    <div id="product-list">
    </div>

    <form id="form-comentario">
        <h2>Deja un Comentario</h2>
        <input type="number" id="idProducto" placeholder="ID del producto" required />
        <input type="text" id="usuario-comentario" placeholder="Tu nombre" required />
        <textarea id="texto-comentario" placeholder="Tu comentario" required></textarea>
        <button type="submit">Enviar Comentario</button>
    </form>


</body>

</html>